* {
    -fx-main-background-color: #082032;
    -fx-secondary-background-color:#0A283E;
	-fx-primary-color: #DA0037;
	-fx-secondary-color: #EA0640;
    -fx-secondary-color-withOpacity: rgba(68, 68, 68, 0.5);
    -fx-dark-primary-color:#B2002D;
	-fx-light-grey-color: #d1d1d1;
    -fx-dark-grey-color:#BCBCBC;
    -fx-text-color: white;
}
#backgroundPane{
    -fx-background-color:  -fx-light-grey-color;
}
#slideMenu{
    -fx-background-color:  -fx-main-background-color;
    -fx-border-color:  -fx-primary-color transparent -fx-primary-color transparent;
    -fx-border-width:  3px;
}
#secondarySlideMenu{
    -fx-background-color:  -fx-secondary-background-color;
    -fx-border-color:  -fx-primary-color transparent -fx-primary-color transparent;
    -fx-border-width:  3px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
#sliderMenuTextButton{
    -fx-text-fill: -fx-dark-primary-color; 
    -fx-font-size: 22px; 
    -fx-font-family: System ;
    -fx-background-color:transparent;
    -fx-alignment: center-left;
}
#sliderMenuTextButton:hover{
    -fx-background-color:  -fx-primary-color;
    -fx-text-fill: -fx-text-color;
}
#sliderMenuTextButton:armed{
    -fx-background-color:  -fx-secondary-color;
    -fx-text-fill: -fx-text-color;
}
#sliderMenuHideButton,#sliderMenuHomeButton,#sliderMenuProfileButton,#sliderMenuCalendarButton,#sliderMenuGroupsButton,
#sliderMenuInvitationButton,#sliderMenuSettingsButton
{
    -fx-background-color:  transparent;
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 30px 30px; 
    -fx-background-position: center center;
}
#sliderMenuHideButton{-fx-background-image: url('../../images/icons/menu.png');}
#sliderMenuHomeButton{-fx-background-image: url('../../images/icons/home.png');}
#sliderMenuProfileButton{-fx-background-image: url('../../images/icons/profile.png');}
#sliderMenuCalendarButton{-fx-background-image: url('../../images/icons/calendar.png');}
#sliderMenuGroupsButton{-fx-background-image: url('../../images/icons/group.png');}
#sliderMenuInvitationButton{-fx-background-image: url('../../images/icons/invitation.png');}
#sliderMenuSettingsButton{-fx-background-image: url('../../images/icons/setting.png');}

#sliderMenuHideButton:hover, #sliderMenuHomeButton:hover, #sliderMenuProfileButton:hover, #sliderMenuCalendarButton:hover,#sliderMenuGroupsButton:hover,#sliderMenuInvitationButton:hover,#sliderMenuSettingsButton:hover {
    -fx-background-color:  -fx-primary-color;
    -fx-border-color: -fx-primary-color;
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 30px 30px; 
    -fx-background-position: center center;
}
#sliderMenuHideButton:hover{-fx-background-image: url('../../images/icons/menuW.png');}
#sliderMenuHomeButton:hover{-fx-background-image: url('../../images/icons/homeW.png');}
#sliderMenuProfileButton:hover{-fx-background-image: url('../../images/icons/profileW.png');}
#sliderMenuCalendarButton:hover{-fx-background-image: url('../../images/icons/calendarW.png');}
#sliderMenuGroupsButton:hover{-fx-background-image: url('../../images/icons/groupW.png');}
#sliderMenuInvitationButton:hover{-fx-background-image: url('../../images/icons/invitationW.png');}
#sliderMenuSettingsButton:hover{-fx-background-image: url('../../images/icons/settingW.png');}


#sliderMenuHideButton:armed, #sliderMenuHomeButton:armed, #sliderMenuProfileButton:armed, #sliderMenuCalendarButton:armed,#sliderMenuGroupsButton:armed,#sliderMenuInvitationButton:armed,#sliderMenuSettingsButton:armed{
    -fx-background-color:  -fx-secondary-color;
    -fx-border-color: -fx-secondary-color;
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 30px 30px; 
    -fx-background-position: center center center center ;
    -fx-background-color:transparent;
    
}
#invitationCardButton{
    -fx-background-image: url('../../images/invitationCards/54680372-37f0-499a-9ee5-051e23ed6d12.jpg');
    -fx-background-repeat: no-repeat; 
    -fx-background-position: center center;
    -fx-border-color: -fx-primary-color;
    -fx-border-width:  2px;
}

#sendButton{
    -fx-background-image: url('../../images/icons/send.png');
    -fx-background-color:  transparent;
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 30px 30px; 
    -fx-background-position: center center;
}
#chatBackground{
    -fx-background-image: url('../../images/background/chatBackground2.png');
    -fx-background-position: center center;
}
#transparentButton{
    -fx-background-color:  transparent;
    -fx-text-fill:gray ;
}
#transparentButton:hover{
    -fx-background-color:  -fx-dark-grey-color;
    -fx-text-fill:-fx-light-grey-color ;

}
#transparentButton:armed{
    -fx-background-color:  -fx-light-grey-color;
    -fx-text-fill:gray;
}
#transparentImageButton{
    -fx-background-color:  transparent;
    -fx-text-fill:gray ;
    -fx-background-image: url('../../images/icons/calendar.png');
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 30px 30px; 
    -fx-background-position: center center;
}
#transparentImageButton:hover{
    -fx-background-color:  -fx-dark-grey-color;
    -fx-text-fill:-fx-light-grey-color 

}
#transparentImageButton:armed{
    -fx-background-color:  -fx-light-grey-color;
    -fx-text-fill:gray;

}
#userGroupTopInfoPane:hover{
    -fx-background-color:  -fx-light-grey-color;
}

#topBarButtons{
    -fx-background-color:  transparent;
    -fx-border-color: transparent;
    -fx-text-fill:-fx-primary-color ; 
}
#topBarButtons:hover {
    -fx-background-color:  #C1C1C1;
    -fx-text-fill:-fx-primary-color ; 
}
#topBarButtons:armed {
    -fx-background-color:  -fx-dark-grey-color;
    -fx-text-fill:-fx-primary-color ; 
}
#textFieldDisable{
    -fx-background-color:   transparent;
    -fx-border-color:  transparent  transparent #575757  transparent;
    -fx-text-fill: black;
    -fx-border-width:  1px;
}
#gridPaneCell{
    -fx-border-color:#C1C1C1;
    -fx-background-color:white;
}
#gridPaneCell:hover{
    -fx-background-color:radial-gradient(focus-distance 0% , center 50% 50% , radius 40% , #d1d1d1,#E7E7E7);
}
#gridPaneCell:armed{
    -fx-background-color:blue;
}
#diaryDayBlackPane{
    -fx-background-color:rgba(0, 0, 0, 0.5);
}
#diaryDayPane{
    -fx-background-color:  -fx-light-grey-color;
    -fx-border-color:-fx-primary-color;
}
#addNewDiaryPane,#diaryNotificationPane{
    /*-fx-border-color: #DA0037;*/
    -fx-background-color:  #CFCFCF;
}
#browseButton{
    -fx-background-radius:100%;
    -fx-border-radius:100%;
    -fx-background-color:transparent;
    -fx-font-size: 30px;
    -fx-text-fill:#909090;  
}
#browseButton:hover{
    -fx-background-color:radial-gradient(focus-distance 0% , center 50% 50% , radius 60% , #909090,#E7E7E7);
    -fx-text-fill:-fx-light-grey-color;  
}
#browseButton:armed{
    -fx-background-color:radial-gradient(focus-distance 0% , center 50% 50% , radius 40% , #B6B6B6,#E7E7E7);
    -fx-text-fill:-fx-light-grey-color;  
}
#rightPane{
    -fx-border-color: -fx-primary-color transparent -fx-primary-color transparent;
    -fx-border-width: 3px;
    -fx-background-color:-fx-light-grey-color;
}
#searchTextField{
    -fx-background-color:   transparent;
    -fx-border-color:  -fx-primary-color ;
    -fx-text-fill: black;
    -fx-border-width:  1px;
    -fx-border-radius:100%;
    -fx-background-radius:100%;
        
}
#rightVBox{
    -fx-background-color:-fx-light-grey-color;
}






#textField{
    -fx-background-color:   transparent;
    -fx-border-color:  transparent  transparent -fx-primary-color  transparent;                                          -fx-text-fill: -fx-text-color;
    -fx-border-width:  1px;
}
#textField:focused{
    -fx-background-color:   transparent;
    -fx-border-color:  transparent transparent -fx-secondary-color transparent;
    -fx-text-fill: -fx-text-color; 
    -fx-border-width:  2px;
}
#textFieldBlackText{
    -fx-background-color:   transparent;
    -fx-border-color:  transparent  transparent -fx-primary-color  transparent;/*#9D9D9D*/
    -fx-text-fill: black;
    -fx-border-width:  1px;
}
#textFieldBlackText:focused{
    -fx-background-color:   transparent;
    -fx-border-color:  transparent transparent -fx-secondary-color transparent;
    -fx-text-fill: black; 
    -fx-border-width:  2px;
}
#ErrorLabel{
    -fx-text-fill:red;
}

#midScrollPane{
    -fx-border-color: -fx-primary-color;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
#button{
    -fx-background-color:  transparent;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius:  100%;
    -fx-background-radius:  50px;
    -fx-text-fill: -fx-primary-color;
}
#button:hover{
    -fx-background-color:  -fx-primary-color;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius:  100%;
    -fx-background-radius:  50px;
    -fx-text-fill: -fx-text-color;
}
#button:armed{
    -fx-background-color:  -fx-secondary-color;
    -fx-border-color: -fx-secondary-color;
    -fx-border-radius:  100%;
    -fx-background-radius:  50px;
    -fx-text-fill: -fx-text-color;
}
#textButton{
    -fx-background-color:  transparent;
    -fx-text-fill: -fx-primary-color;
}

#socialMediaFacebook, #socialMediaInstagram, #socialMediaTwitter, #socialMediaSite{
    -fx-background-color:  transparent;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius:  100%;
    -fx-background-radius:  50px;
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 40px 40px; 
    -fx-background-position: center center;
}
#socialMediaFacebook{-fx-background-image: url('../images/socialMedia/facebook.png');}
#socialMediaInstagram{-fx-background-image: url('../images/socialMedia/instagram.png');}
#socialMediaTwitter{-fx-background-image: url('../images/socialMedia/twitter.png');}
#socialMediaSite{-fx-background-image: url('../images/socialMedia/site.png');}

#socialMediaFacebook:hover, #socialMediaInstagram:hover, #socialMediaTwitter:hover, #socialMediaSite:hover{
    -fx-background-color:  -fx-primary-color;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius:  100%;
    -fx-background-radius:  50px;
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 40px 40px; 
    -fx-background-position: center center;
}
#socialMediaFacebook:hover{-fx-background-image: url('../images/socialMedia/facebookW.png');}
#socialMediaInstagram:hover{-fx-background-image: url('../images/socialMedia/instagramW.png');}
#socialMediaTwitter:hover{-fx-background-image: url('../images/socialMedia/twitterW.png');}
#socialMediaSite:hover{-fx-background-image: url('../images/socialMedia/siteW.png');}

#socialMediaFacebook:armed, #socialMediaInstagram:armed, #socialMediaTwitter:armed, #socialMediaSite:armed{
    -fx-background-color:  -fx-secondary-color;
    -fx-border-color: -fx-secondary-color;
    -fx-border-radius:  100%;
    -fx-background-radius:  50px;
    -fx-background-repeat: no-repeat; 
    -fx-background-size: 40px 40px; 
    -fx-background-position: center center;
}
.date-picker{
    -fx-background-color:  transparent;
     -fx-border-color: -fx-primary-color;
    -fx-border-radius:  50px;
    -fx-background-radius:  50px;
    -fx-text-fill: black;
    
}
.date-picker .text-field {
    -fx-control-inner-background: transparent ;
    -fx-background-radius: 50px;

}
.date-picker > .arrow-button {
    -fx-background-radius: 50px;
}

.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
.combo-box{
    -fx-background-color:  transparent;
    -fx-border-color: -fx-primary-color;
    -fx-border-radius:  50px;
    -fx-background-radius:  50px;
    -fx-text-fill: white;
}
#comboBoxBlackText{
    -fx-text-fill: black;
}
#textAreaBlackText{
    text-area-background: #CFCFCF;
}
#textAreaBlackText .content{
    -fx-background-color:   text-area-background;
    -fx-border-color:  #9D9D9D  #9D9D9D -fx-primary-color  #9D9D9D;
    -fx-text-fill: -fx-text-color;
    -fx-border-width:  1px;
}
#textAreaBlackText:focused .content{
    -fx-border-color:  transparent transparent -fx-secondary-color transparent;
    -fx-text-fill: black; 
    -fx-border-width:  2px;
}
.check-box .box {

-fx-background-color: transparent;
-fx-border-color:-fx-primary-color;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: -fx-primary-color;

}

.check-box:selected .box {

-fx-background-color: transparent;
}
/*----------------------------------SCROLLPANA---------------------------*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :1.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 5.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0 5.0 0 5;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : -fx-primary-color;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : -fx-secondary-background-color;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane, #scrollAnchorPane{
    -fx-background-color : transparent;
}





